@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

* {
    @apply !scroll-smooth;
}

html {
    @apply overflow-x-hidden;
}

body {
    @apply bg-black text-white overflow-x-hidden;
}
*::-webkit-scrollbar {
    background-color: transparent;
    width: 0;
}

.active {
    @apply text-primary !important;
}

.custom:hover .date {
    @apply text-primary;
}

.skills:hover > div {
    @apply border-primary;
}

.button,
.project-text {
    @apply transition-all duration-300;
}

.button:hover {
    @apply bg-[#181823] bg-opacity-70 !important;
}

.proje:hover .button {
    @apply bg-black text-white;
}

.proje:hover .project-text {
    @apply underline;
}

.tooltip {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 10px;
    border-color: transparent transparent transparent #404042;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
